.main{
    height: 800px;
    background-color: #e0e0e0;
    
}
.bg-img{
    height: 380px;
    width: 100%;
    position: relative;
}
.gsearch{
    position: absolute;
    top: 25%;
    left: 38%;
    width: 25%;
}

#logo{
  height: 60px;
  width: 60px;
  margin-left: -59px;
}
.city-img{
    height: 150px;
    width: 150px;
    border-radius:25px ;
    box-shadow: 10px 10px 10px grey;
    
}
.city {
    position: relative;
  }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius:25px;
    transition: .5s ease;
    background-color:rgba(0, 0, 0, 0.5);
  }
  
  .city:hover .overlay {
    opacity: 1;
  }
  .text {
    color:#f1f1f1;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
#view{
    margin-top: 6%;
    padding-bottom: 120px;
    text-align: center;
}
.social{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.cp{
    padding-top: 6%;
    display: flex;
    justify-content: space-evenly;
}
.more{
    list-style-type: none;
    margin-left: -30px;
    display: flex;
}
.sp{
    height: 20px;
    width: 22px;
}
