.main{
    height: 800px;
    background-color: #e0e0e0;
    
}
.bg-img{
    height: 380px;
    width: 100%;
    position: relative;
}
.gsearch{
    position: absolute;
    top: 25%;
    left: 38%;
    width: 25%;
}
#logo{
  height: 60px;
  width: 60px;
  margin-left: -59px;
}
.city-img{
    height: 150px;
    width: 150px;
    border-radius:15px ;
}
#view{
    margin-top: 3%;
    padding-bottom: 12%;
    text-align: center;
}
.social{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.cp{
    padding-top: 6%;
    display: flex;
    justify-content: space-evenly;
}
.more{
    list-style-type: none;
    margin-left: -30px;
    display: flex;
}
.sp{
    height: 20px;
    width: 22px;
}
