body{
height: 800px;
}
.main{
   margin: 0px;
    background-color: #e0e0e0;
}
#logo{
  height: 60px;
  width: 60px;
  margin-left: -90px;
}
.navbar{
    background-color: rosybrown;
} 
.nav-link {
    color: black;
}
.more1{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.view{
    padding: 10px 20px;
    color: black;
}
.hotel-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.desc{
    background-color: rgb(132,136,139);
    margin: 2%;
    width: 42%;
    height: 400px;
}
.map{
margin: 25%;
}
.hp{
    height: 250px;
    width: 250px;
}
.sp{
    height: 20px;
    width: 22px;
}
.social{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.more{
    list-style-type: none;
    margin-left: -30px;
    display: flex;
}
